.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button {
  margin: 0;
  padding: 0; }

main {
  background-color: #e5e5e5; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.container {
  margin: 0 auto; }

@media (min-width: 1280px) {
  .container {
    width: 1145px; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  background-color: #2c2c2c; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    padding: 0 20px;
    min-width: 320px; }
  .header__link {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out; }
    .header__link:hover {
      color: #2060f6; }
    .header__link::after {
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #2060f6; }

@media (min-width: 1024px) {
  .header__container {
    height: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__link {
    margin-left: auto; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  width: 45px;
  height: 26px;
  background-image: url(../images/logo/air-logo.svg); }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@-webkit-keyframes menu {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0%; } }

@keyframes menu {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0%; } }

.nav__toggle {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #2c2c2c;
  border: none;
  cursor: pointer;
  outline: none; }
  .nav__toggle:focus {
    border: 1px solid #4a9fcf; }

.nav--closed .nav__list {
  display: none; }

.nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after {
  top: 0;
  right: 0;
  width: 28px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 0 0 #fff, 0 24px 0 0 #fff;
          box-shadow: 0 12px 0 0 #fff, 0 24px 0 0 #fff; }

.nav--opened .nav__list {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #2c2c2c;
  width: 100vw;
  height: 244px;
  -webkit-animation: menu 500ms ease-in-out;
          animation: menu 500ms ease-in-out; }

.nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after {
  top: 12px;
  left: -5px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out; }

.nav--opened .nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none; }

.nav--opened .nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.nav__link {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #426ab4;
  border-top: 1px solid #3363bb;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out; }
  .nav__link:hover {
    color: #2060f6; }

@media (min-width: 640px) {
  .nav--opened .nav__toggle,
  .nav--closed .nav__toggle {
    display: none; }
  .nav--opened .nav__list,
  .nav--closed .nav__list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 60px;
    left: 0;
    background-color: #2c2c2c;
    width: 100vw;
    -webkit-animation: none;
            animation: none;
    border-bottom: 1px solid #426ab4;
    border-top: 1px solid #3363bb;
    z-index: 1; }
  .nav__link {
    border: none; } }

@media (min-width: 960px) {
  .nav {
    margin-left: 64px; }
    .nav--opened .nav__list,
    .nav--closed .nav__list {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2c2c2c;
      width: 637px;
      -webkit-animation: none;
              animation: none;
      border: none; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info {
  background-color: #2c2c2c;
  color: #fff;
  height: calc(100vh - 60px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }
  .info__text {
    padding: 20px; }
  .info__title {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -2px;
    margin-bottom: 20px; }
  .info__description {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 362px; }
  .info__button {
    padding: 14px 70px;
    border-radius: 25px;
    cursor: pointer; }

@media (min-width: 640px) {
  .info {
    position: relative; }
    .info__text {
      padding: 80px 30px 20px; }
    .info__title {
      font-size: 64px;
      line-height: 68px; }
    .info__description {
      width: 460px;
      font-size: 18px; }
    .info__button {
      position: absolute;
      top: 120px;
      right: 30px; } }

@media (min-width: 1024px) {
  .info {
    height: calc(100vh - 120px);
    position: relative;
    width: 100vw; }
    .info__text {
      padding: 60px 30px; }
    .info__title {
      font-size: 64px;
      line-height: 68px;
      margin-bottom: 32px; }
    .info__description {
      width: 362px;
      font-size: 18px;
      margin-bottom: 83px; }
    .info__button {
      position: static; } }

@media (min-width: 1280px) {
  .info__text {
    padding: 120px 0; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.button {
  font-size: 15px;
  line-height: 22px;
  background-color: #2060f6;
  color: #fff;
  border: 1px solid #2060f6;
  -webkit-transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
  transition: color 400ms ease-in-out, background-color 400ms ease-in-out; }
  .button:hover {
    background-color: #fff;
    color: #2060f6; }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider {
  position: relative; }
  .slider__controls {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    bottom: 20px;
    left: 50%; }
  .slider__controls-item {
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer; }
    .slider__controls-item::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 1;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%; }
  .slider__text {
    position: absolute;
    left: 100px;
    bottom: 48px;
    color: #fff; }
  .slider__title {
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 8px; }
  .slider__description {
    font-size: 14px;
    line-height: 1.4; }
  .slider__switcher {
    position: absolute;
    left: 20px;
    bottom: 66px;
    width: 72px; }
  .slider__button {
    position: relative;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer; }
    .slider__button::before {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      width: 7px;
      height: 7px;
      border-top: 2px solid #253757;
      border-right: 2px solid #253757; }
    .slider__button--left {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  .slider__item {
    display: none;
    width: 100%;
    height: calc(100vh - 304px);
    border-radius: 30px 0; }
    .slider__item--1 {
      background-image: url(../images/slider/1.png); }
    .slider__item--2 {
      background-image: url(../images/slider/2.png); }
    .slider__item--3 {
      background-image: url(../images/slider/3.png); }
  #slide-1:checked ~ .slider__list .slider__item--1 {
    display: block; }
  #slide-2:checked ~ .slider__list .slider__item--2 {
    display: block; }
  #slide-3:checked ~ .slider__list .slider__item--3 {
    display: block; }
  #slide-1:checked ~ .slider__controls .slider__controls-item:nth-child(1)::before,
  #slide-2:checked ~ .slider__controls .slider__controls-item:nth-child(2)::before,
  #slide-3:checked ~ .slider__controls .slider__controls-item:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 6px;
    height: 6px;
    background-color: #2060f6;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

@media (min-width: 640px) {
  .slider__text {
    left: 144px; }
  .slider__switcher {
    left: 48px; }
  .slider__item {
    height: calc(100vh - 389px); } }

@media (min-width: 1024px) {
  .slider {
    position: absolute;
    right: 0;
    bottom: 0; }
    .slider__item {
      height: calc(100vh - 120px);
      width: 50vw; } }

@media (min-width: 1600px) {
  .slider__item {
    width: 687px; } }

@media (min-width: 1920px) {
  .slider {
    right: calc((100vw - 1600px) / 2); } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about__container {
  padding: 50px 20px; }

.about__title {
  font-size: 32px;
  line-height: 150%;
  color: #253757;
  margin-bottom: 16px; }

.about__description {
  font-size: 24px;
  line-height: 150%;
  font-weight: 600;
  color: #6c788b; }

@media (min-width: 640px) {
  __container {
    padding: 100px 30px; } }

@media (min-width: 960px) {
  .about__container {
    padding: 148px 0;
    width: 754px; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.expertise {
  min-width: 320px;
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px; }
  .expertise__title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #253757; }
  .expertise__item {
    margin: auto;
    margin-bottom: 30px; }

@media (min-width: 640px) {
  .expertise {
    padding: 80px 30px; }
    .expertise__title {
      font-size: 52px; }
    .expertise__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

@media (min-width: 1280px) {
  .expertise {
    padding: 128px 0 134px; }
    .expertise__title {
      margin-bottom: 64px; }
    .expertise__list {
      margin: auto;
      width: 1145px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.expertise-card {
  text-align: center;
  width: 264px; }
  .expertise-card__image {
    width: 166px;
    height: 166px;
    border-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin-bottom: 20px; }
  .expertise-card__title {
    color: #253757;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 16px; }
  .expertise-card__description {
    color: #6c788b;
    font-size: 14px;
    line-height: 1.5; }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.process__container {
  padding: 50px 20px; }

.process__text {
  margin-bottom: 20px; }

.process__title {
  margin-bottom: 16px;
  font-weight: 700;
  color: #c0cdd7;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.process__subtitle {
  margin-bottom: 24px;
  color: #253757;
  font-size: 26px;
  line-height: 1.3; }

.process__description {
  font-size: 14px;
  line-height: 1.5;
  color: #6c788b; }
  .process__description:first-of-type {
    margin-bottom: 10px; }

.process__item {
  margin: auto;
  margin-bottom: 20px; }

@media (min-width: 640px) {
  .process__subtitle {
    font-size: 32px; }
  .process__text {
    margin-bottom: 30px; }
  .process__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 558px;
    margin: auto; }
  .process__item {
    margin: 0; }
    .process__item:nth-child(-n+2) {
      margin-bottom: 30px; }
    .process__item:nth-child(odd) {
      -webkit-transform: translateY(142px);
              transform: translateY(142px); } }

@media (min-width: 1024px) {
  .process__container {
    padding: 148px 30px 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .process__text {
    width: 362px;
    margin-bottom: 0; }
  .process__list {
    margin: 0; } }

@media (min-width: 1280px) {
  .process__container {
    padding: 148px 0 44px; } }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.process-card {
  width: 264px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .process-card__number {
    display: inline-block;
    padding: 2px 11px;
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 22px;
    color: #2060f6;
    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 12px; }
  .process-card__list {
    margin-bottom: 32px; }
  .process-card__item {
    font-weight: 600;
    color: #6c788b;
    font-size: 13px;
    line-height: 20px; }
  .process-card__extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .process-card__button {
    width: 40px;
    height: 40px;
    background-color: #2060f6;
    border: none;
    border-radius: 50%;
    background-image: url(../images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat; }
  .process-card__more {
    margin-left: 16px;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }

.header__link, .nav__link, .info__title, .slider__title, .about__title, .expertise__title, .expertise-card__title, .process__title, .process__subtitle, .process-card__number, .process-card__more {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

html,
body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3,
h4,
button, .slider__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.logo, .slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__link::after, .nav--closed .nav__toggle::before,
.nav--closed .nav__toggle::after, .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after, .slider__button::before {
  content: "";
  position: absolute; }

.slider__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.approach {
  background: #2c2c2c;
  height: 976px; }

/*# sourceMappingURL=main.css.map */
